/* reports */

div.report {
        color: black;
        padding: 20px;
}
div.report * div.linespace {
        min-height: 20px;
}
div.report * div.bsaccount {
        float: left;
}
div.report * div.bsamount {
        float: right;
}
div.panel.left {
        font-size: 80%;
        font-family: monospace;
}
div.panel.right {
        font-size: 80%;
        font-family: monospace;
}
div.reportopener {
        background-color: $color-dark;
}

div.tablet div.lbl_at {
        display: none;
}

div.tablet.rpt_balancesheet div.lbl_at {
        display: block;
}

div.tablet.rpt_balancesheet div.lbl_from,
div.tablet.rpt_balancesheet div.lbl_to {
        display: none;
}

div.tablet.rpt_balancesheet input[name="end_date"] {
        display: none;
}

div.tablet.rpt_vat div.report.update {
        margin: 0;
}

@media all and (max-width: $small-screen-width) {
        div.report {
                height: 100%;
        }
}
